<aside class="w-64 bg-base-100 border-r border-base-200 h-full shrink-0 flex flex-col font-['Inter'] relative z-[90]">
  <nav class="flex-1 flex flex-col px-4 py-6 gap-2 overflow-y-auto text-slate-500 font-medium text-sm">
    <a routerLink="/dashboard" routerLinkActive="!bg-primary !text-white shadow-md font-semibold" [routerLinkActiveOptions]="{exact: true}" class="hover:bg-slate-100 hover:text-slate-800 py-3 px-4 rounded-xl transition-all flex items-center gap-3">
      <span class="material-symbols-outlined text-[20px]">dashboard</span>
      Dashboard
    </a>
    <a routerLink="/agenda" routerLinkActive="!bg-primary !text-white shadow-md font-semibold" class="hover:bg-slate-100 hover:text-slate-800 py-3 px-4 rounded-xl transition-all flex items-center gap-3">
      <span class="material-symbols-outlined text-[20px]">calendar_month</span>
      Agenda
    </a>
    <a routerLink="/servicos" routerLinkActive="!bg-primary !text-white shadow-md font-semibold" class="hover:bg-slate-100 hover:text-slate-800 py-3 px-4 rounded-xl transition-all flex items-center gap-3">
      <span class="material-symbols-outlined text-[20px]">format_list_bulleted</span>
      Serviços
    </a>
    <a routerLink="/clientes" routerLinkActive="!bg-primary !text-white shadow-md font-semibold" class="hover:bg-slate-100 hover:text-slate-800 py-3 px-4 rounded-xl transition-all flex items-center gap-3">
      <span class="material-symbols-outlined text-[20px]">group</span>
      Clientes
    </a>
    <a routerLink="/configuracoes" routerLinkActive="!bg-primary !text-white shadow-md font-semibold" class="hover:bg-slate-100 hover:text-slate-800 py-3 px-4 rounded-xl transition-all flex items-center gap-3">
      <span class="material-symbols-outlined text-[20px]">settings</span>
      Configurações
    </a>
  </nav>
</aside>de>